KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_MM_OBJS=\
mm/multiboot.o \
mm/pmm.o

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/drivers/keyboard.o \
$(ARCHDIR)/shell/shell.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/isr.o \
$(ARCHDIR)/interrupts/isr_stubs.o \
$(ARCHDIR)/interrupts/irq.o \
$(ARCHDIR)/interrupts/irq_stubs.o \
$(ARCHDIR)/interrupts/pic.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/flush_gdt.o \
$(ARCHDIR)/gdt/set_gdt.o 